<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="info" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
		</layout>
	</appender>

	<!-- FILE SETUP -->
	<appender name="FileAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="Threshold" value="info" />
		<param name="File" value="logs/ReachService.log" />
        	<param name="MaxFileSize"    value="32MB"/>
        	<param name="MaxBackupIndex" value="5000"/>

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %c - %m%n" />
		</layout>
	</appender>

	<appender name="FileAysncAppender" class="org.apache.log4j.AsyncAppender">
		<appender-ref ref="FileAppender" />
	</appender>
	
	<logger name="com.tapjoy.reach" additivity="false">
        <level value="info" />
        <appender-ref ref="FileAysncAppender" />
        <appender-ref ref="ConsoleAppender" />
    </logger>
	
	<root>
		<level value="info" />
		<appender-ref ref="ConsoleAppender" />
		<appender-ref ref="FileAysncAppender" />
	</root>

</log4j:configuration>